body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #4CAF50;
    color: rgb(56, 88, 215);
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
}

#introduction {
    background-color: #de3838;
}

#festivals {
    background-color: #3bdd3b;
    
}

#art {
    background-color: #3c9cc8;
}

footer {
    background-color: #030101;
    color: rgb(140, 243, 43);
    text-align: center;
    padding: 10px 0;
}
section img, section video {
    width: 1500px;
    height: 800px;
    display: block;
    margin: 0 auto;
}
p {
    font-size: larger; 
}