body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
section {
    padding: 20px;
    text-align: center;
    margin: 20px 0;
}
section h2 {
    color: #333;
    text-align: center;
}
section img, section video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
section p {
    color: #666;
    text-align: center;
}
#nmdc {
    background-color: #f1e25c; /* Khaki */
}
#livelihood {
    background-color: #4ab24a; /* PaleGreen */
}
#lakshya {
    background-color: #4da5dc; /* LightSkyBlue */
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
footer a {
    color: #4CAF50;
    text-decoration: none;
}
p {
    font-size: larger; 
}
